<div class="container">
  MENU
  <div class="row justify-content-around">
    <div class="col-md-2">MyHobby</div>
    <a routerLink="/household-accounts" class="col-md-3 btn btn-info text-dark">Household Accounts</a>
    <a href="https://www.yahoo.co.jp/" target="_blank" class="col-md-3 btn btn-info margin text-dark">Yahoo!</a>
    <a class="col-md-3 btn btn-info">TEST3</a>
  </div>
  
  <div class="row justify-content-around">
    <div class="col-md-2">MyWork</div>
    <a class="col-md-3 btn btn-info">TEST4</a>
    <a class="col-md-3 btn btn-info">TEST5</a>
    <a class="col-md-3 btn btn-info">TEST6</a>
  </div>
</div>
